@model My.Template.Model.SinglePage

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}


@section Head{
    <!-- PAGE LEVEL STYLES -->
<link href="/areas/admin/assets/css/jquery-ui.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->

}


       <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner">
                 <div class="row">
                    <div class="col-lg-12">
                        <h3> 添加单页 </h3>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="icon-edit"></i>
                                </div>
                                <h5>编辑信息</h5>
                            </header>
                            <div id="div-1" class="accordion-body collapse in body">
                                @using (Html.BeginForm("Edit", "SinglePage", FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <input type="hidden" name="pageNum" value="@ViewBag.pageNum" />
                                    @Html.HiddenFor(u => u.ID)
                                    @Html.HiddenFor(u => u.AddTime)
                                    @Html.HiddenFor(u => u.IsDelete)
                                  <div class="form-group">
                                        @Html.LabelFor(u => u.PageName, "标题", new { @class = "control-label col-lg-4" })
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(u => u.PageName, new { placeholder = "标题", @class = "form-control" })
                                            @Html.ValidationMessageFor(u => u.PageName)
                                        </div>
                                    </div>

                                    
                           
                                    
                                   <div class="form-group">
                                         @Html.LabelFor(u => u.SeoKeyWord, "SEO关键字", new { @class = "control-label col-lg-4" })
                                        <div class="col-lg-8">
                                           @Html.TextBoxFor(u => u.SeoKeyWord, new { placeholder = "SEO关键字", @class = "form-control", maxlength = 128 }) 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                         @Html.LabelFor(u => u.SeoDescription, "SEO描述", new { @class = "control-label col-lg-4" })
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(u => u.SeoDescription, new { placeholder = "SEO描述", @class = "form-control", maxlength = 512 })
                                            
                                        </div>
                                    </div>
                                
                                 <div class="form-group">
                                         @Html.LabelFor(u => u.PageContent, "内容", new { @class = "control-label col-lg-4" })
                                        <div class="col-lg-8">
                                            @Html.TextAreaFor(u => u.PageContent, new { @class = "form-control", style = "height: 350px;" })
                                             @Html.ValidationMessageFor(u => u.PageContent)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-8 divsure">

                                            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
                                         <a href="@ViewBag.returnUrl" class="btn  btn-default btn-rect">取消</a>
                                            <input type="submit" value="确认" class="btn btn-success btn-rect"/>
                                        </div>
                                         </div>
                                }
                             
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
@section Foot{
        <!-- PAGE LEVEL SCRIPTS -->
    <script src='@Url.Content("~/Scripts/jquery/jquery.validate.js")'></script>
    <script src="/Scripts/jquery/jquery.validate.unobtrusive.min.js"></script>
         <!-- END PAGE LEVEL SCRIPTS -->

     @*编辑器*@
    <link href='@Url.Content("~/Scripts/kindeditor/themes/default/default.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/kindeditor/kindeditor.js")'></script>
    <script src='@Url.Content("~/Scripts/kindeditor/lang/zh_CN.js")'></script>

    <script>
        //详细内容
        KindEditor.ready(function (K) {
            var editor1 = K.create('#PageContent', {
                items: [
						'source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'media', 'link', 'fullscreen'],
                uploadJson: '/admin/KindEditorUpload/ProcessFile',
                fileManagerJson: "/admin/KindEditorUpload/ProcessFileManger",
                filterMode: false,
                allowFileManager: true,
            })
        });
    </script>
  

}