<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderPage("_HeadPartial.cshtml")
    @RenderSection("Head")
</head>

    <!-- END HEAD -->

    <!-- BEGIN BODY -->
<body  >

    <!-- MAIN WRAPPER -->

    <!-- Top 区域 -->
    @RenderPage("_TopPartial.cshtml")
    <!-- Content Area -->
    @RenderBody()

   
    @RenderPage("_FootPartial.cshtml")
    @RenderSection("Foot")
</body>
</html>
