@using My.Template.Model
@model List<My.Template.Model.Action>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@section Head{
     <!-- PAGE LEVEL STYLES -->
    <link href="/areas/admin/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="/Areas/Admin/css/gloable.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}
       <!--PAGE CONTENT -->
        <div id="content">

            <div class="inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h3> 用户权限 </h3>
                    </div>
                </div>
                <hr />
                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            用户权限列表
                        </div>
                        <div class="panel-heading">
                            @{
                                var user = ViewBag.user as User;
                               List<My.Template.Model.Action> useractions = ViewBag.userActions as List<My.Template.Model.Action>;
                            }
                            给用户[ <span style="color: red;">@user.Account</span>]<img height="50px;" src="@user.UserInfo.HeadPic" />
                            设置特殊权限 <span style="color:red;">此处显示了用户角色中已经包含的权限。</span> <a href="@ViewBag.returnUrl" class="btn  btn-default   btn-sm  btn-rect">返回</a>
                           
                        </div>
               

                        <div class="panel-body">
                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <!--记录条数-->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_length" id="dataTables-example_length"><label>
                                                <select id="pageselect" name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                                    @{
                                                        string str = "selected=true";
                                                        }
                                                    <option @if(ViewBag.pageSize==10){@str} value="10">10</option>
                                                    <option @if(ViewBag.pageSize==20){@str}  value="20">20</option>
                                                    <option @if(ViewBag.pageSize==30){@str} value="30">30</option>
                                                </select> / 页
                                            </label>
                                        </div>
                                     
                                    </div>
                                <div class="col-sm-6">
                                    <div id="dataTables-example_filter" class="dataTables_filter"><label>搜索:<input type="search" id="searchBtn" value="@ViewBag.searchWords" class="form-control input-sm" aria-controls="dataTables-example"></label>
                                    </div>
                                </div>


                                      <!--分页开始-->
                              
                                        <div class="col-sm-6">
                                            <div class="pagination">
                                                @Html.Raw(ViewBag.pageStr)
                                            </div>
                                        </div>
                                  
                                     <!--分页结束-->
                                       </div>

                                  <!--列表数据开始-->
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>类型</th>
                                    <th>上级权限</th>
                                    <th>地址</th>
                                    <th>图片</th>
                                    <th>排序</th>
                                    <th>是否冻结</th>
                                    <th>[@(user.Account)]是否有该权限</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr >
                                            <td>@Model[i].ID</td>
                                            <td>@Model[i].AName</td>
                                            <td>@Model[i].ActionType.TName</td>
                                            <td>@Model[i].ParentID</td>
                                             <td>@Model[i].AUrl</td>
                                            <td><img class="preview-img" src="@Model[i].AIcon"/></td>
                                            <td>@Model[i].ASequence</td>
                                            <td >@if (Model[i].IsFrozen)
                                                {
                                                    <span style="color: green; font-weight: bold;">√</span>
                                                }
                                                else
                                                {
                                                    <span style="color: red; font-weight: bold;">×</span>
                                                }</td>
                                             <td class="issetactions">@if (useractions.Contains(Model[i]))
                                                {
                                                    <span style="color: green; font-weight: bold;">√</span>
                                                }
                                                else
                                                {
                                                    <span style="color: red; font-weight: bold;">×</span>
                                                }</td>
                                            <td>
                                                <input type="button" value="设置权限" data-setactionid="@Model[i].ID" class="btn   btn-sm btn-flat btn-success btn-rect btn_setuseraction" data-toggle="modal" data-target="#buttonedModal"/>
                                                 <input type="button" value="移除权限" data-mglid="@Model[i].ID" class="btn   btn-sm btn-flat btn-danger btn-rect btn-del btn-remove" data-toggle="modal" />
                                            </td>
                                        </tr>

                                    }
                                }
                                </tbody>
                            </table>
                                      <!--列表数据结束-->

                                   <!--分页开始-->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="pagination">
                                                @Html.Raw(ViewBag.pageStr)
                                            </div>
                                        </div>
                                    </div>
                                     <!--分页结束-->

                                    </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
                <!--信息提示区-->
                <div class="row">
                      <div class="col-lg-12">
                        <div class="modal fade" id="buttonedModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="H1">提示消息</h4>
                                        </div>
                                        <div class="modal-body">
                                           确认设置吗?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btn-cancelsetuseraction" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button type="button" id="btn-confirmdel" class="btn btn-primary" data-dismiss="modal">确认</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                      <div class="col-lg-12" id="hintdiv">
                        <div class="modal fade" id="ayncerror" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" >错误消息</h4>
                                        </div>
                                        <div class="modal-body">
                                         发送异步请求失败.请重试!
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"  class="btn btn-default" data-dismiss="modal">关闭</button>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
       <!--END PAGE CONTENT -->



   

@section Foot{
    <!-- PAGE LEVEL SCRIPTS -->
    
    
   
    <script>
        $(document).ready(function() {


            /*设置相关 前台代码和框架弹出提示框结合*/
            var setactionid = 0;
            var clickel;
            $('.btn_setuseraction').click(function() {
                setactionid = $(this).data('setactionid');
                clickel = $(this);
            })

            $('#btn-cancelsetuseraction').click(function() {
                setactionid = 0;
                clickel = null;
            })

            $('#btn-confirmdel').click(function() {
                $.ajax({
                    url: '@Url.Action("SetUserActionAjax", "User")',
                    data: { actionid: setactionid, userid: '@user.ID' },
                    type: 'post',
                    dataType: 'json',
                    success: function(data) {
                        var jsondata = JSON.parse(data);
                        if (jsondata.res == 1) {
                            var $tr = clickel.parent().parent();
                            $tr.find('td.issetactions').html('<span style="color: green; font-weight: bold;">√</span>');
                        } else {
                            alert(jsondata.msg);
                        }
                    },
                    error: function() {
                        alert('异步错误.');
                    }
                })
            })


            $('.btn-remove').click(function() {
                var  $el = $(this);
                canceluseraction($el);
            })
            

            function canceluseraction($el) {
                var sactionid = $el.data('mglid');
                $.ajax({
                    url: '@Url.Action("CancelUserActionAjax", "User")',
                    data: { actionid: sactionid, userid: '@user.ID' },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        var jsondata = JSON.parse(data);
                        if (jsondata.res == 1) {
                            var $tr = $el.parent().parent();
                            $tr.find('td.issetactions').html('<span style="color: red; font-weight: bold;">×</span>');
                        } else {
                            alert(jsondata.msg);
                        }
                    },
                    error: function () {
                        alert('异步错误.');
                    }
                })
            }


            //------------搜索事件
            $('body').keydown(function() {
                var searchwords = $('#searchBtn').val();
                if (event.keyCode == 13)//按Enter键的键值为13  
                    reFresh(1, '@ViewBag.pageSize', searchwords);
            })

            $('#pageselect').change(function() {
                //
                var pageSize = $(this).val();
                var searchwords = $('#searchBtn').val();
                reFresh(1, pageSize, searchwords);
            });
        });


        //刷新

        function reFresh(pageIndex, pageSize, searchwords) {
            window.location.href = "/admin/User/SetUserAction?pageIndex=" + pageIndex + "&pageSize=" + pageSize + "&searchWords=" + encodeURIComponent(searchwords) + "&pageNum=@ViewBag.pageNum&userid=@user.ID";
        }

    </script>
    <!-- END PAGE LEVEL SCRIPTS -->

    
}
